; top-most EditorConfig file
root = true

; Unix-style newlines
[*]
end_of_line = LF

[*.c]
indent_style = space
indent_size = 8

[*.cpp]
indent_style = space
indent_size = 8

[*.h]
indent_style = space
indent_size = 8

[*.hpp]
indent_style = space
indent_size = 8
